.basinnChartWrapper {
	background: var(--background-color-default);
	border: 2px solid var(--border-color-default);
	border-radius: 6px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

.basinnChart {
	border-collapse: collapse;
	color: var(--foreground-color-default);
	font-weight: 500;
	width: 100%;
}

.basinnChart thead {
	position: sticky;
	top: 0;
}

.basinnChart th {
	background: linear-gradient(var(--background-color-muted),var(--background-color-inset));
	text-align: left;
	width: 15%;
}

.basinnChart th:first-child {
	text-align: center;
	width: 40%;
}

.basinnChart .columnHeader {
	border-bottom: 2px solid var(--border-color-muted);
	margin-left: -18px;
	padding-right: 30px;
	width: 100%;
}

.basinnChart .columnHeader span {
	cursor: pointer;
	position: relative;
}

.basinnChartSortedAsc span::after, .basinnChartSortedDesc span::after {
	border-bottom: 2px solid var(--foreground-color-default);
	border-right: 2px solid var(--foreground-color-default);
	content: "";
	display: block;
	height: 4px;
	position: absolute;
	right: -10px;
	top: calc(50% - 2px);
	width: 4px;
}

.basinnChartSortedAsc span::after {
	transform: rotate(-135deg);
}

.basinnChartSortedDesc span::after {
	transform: rotate(45deg);
}

.basinnChart tr.selected {
	background: var(--color-green-dark);
}

.basinnChart td {
	padding-left: 4px;
}

.chartSkillName {
	align-items: center;
	display: flex;
	gap: 4px;
}

.chartSkillName > img {
	cursor: pointer;
	height: 1.5em;
}
